.home-box {
    padding:0;
    overflow:hidden;
    border-radius: 20px;
    background-color: $content-color;
    box-shadow: 0 0 40px rgba(0,0,0,0.5);
    border: solid 2px $colorscheme-5;
    .post-link {
        color: inherit;
        display:block;
        padding: $spacing-unit;
        transition: .3s background-color;
        &:not(:last-child) {
            border-bottom:1px solid $colorscheme-5;
        }
        &:hover {
            text-decoration: none;
            background-color: $header-color;
        }
        h3, h2 {
            margin:0;
        }

      .news-title {
        display: flex;
        flex-wrap: wrap;
        align-items: baseline;
        justify-content: space-between;
        color: $colorscheme-2;

        h1 {
          margin-bottom: 0;
        }
      }

      .post-excerpt {
        margin-top: 25px;
      }

      .subtitle {
        margin-top: 10px;
        color: $colorscheme-5;
        font-style: italic;
      }
  }
}

.home {
  margin-bottom: 30px;
  .main-logo {
    .logo {
      width: 70%;

      @include media-query($on-mobile) {
        width: 100%;
      }
    }
    display: flex;
    justify-content: center;

  }
}

.more-news {
  text-align: right;
  margin-bottom: 20px;
  margin-top: 10px;
}


.timeline {
  .tl-event {
    display: grid;
    justify-content: center;
    grid-template-columns: 20% 23px 75%;
    grid-template-areas:
      "date dot title"
      "date line content";

    @include media-query($on-mobile) {
      justify-content: left;
      grid-template-columns: none;
      grid-template-areas: none;
    }

    .tl-date {
      justify-self: end;
      margin-right: 15px;
      grid-area: date;
      text-align: right;
      @include media-query($on-mobile) {
        justify-self: stretch;
        text-align: left;
        grid-area: 2;
        margin-bottom: 15px;
        @include relative-font-size(0.8);
      }

      span {
        white-space: nowrap;
      }
    }

    .tl-dot, .tl-line {
      background-color: $colorscheme-4;

      &.finished {
        background-color: #555;
      }

      width: 3px;
      margin: 0 10px;

      @include media-query($on-mobile) {
        display: none;
      }
    }

    .tl-dot {
      height: 11px;
      width: 11px;
      background-color: $colorscheme-4;
      border-radius: 50%;
      display: inline-block;
      margin-left: -4px;
      margin-top: 9px;
    }

    .tl-title, .tl-content {
      h3 {
        margin-bottom: 5px !important;
      }
      margin-left: 20px;
      @include media-query($on-mobile) {
        margin-left: 0px;
      }
    }
    @include media-query($on-mobile) {
      background-color: $content-color;
      border-radius: 10px;
      padding: 20px;
      margin: 10px 0;
    }
  }

  .tl-event.ongoing {
    .tl-date {
      color: $colorscheme-2;
    }
    .tl-dot, .tl-line {
      background-color: $colorscheme-2;
    }
    @include media-query($on-mobile) {
      border: solid 1px $colorscheme-2;
    }
  }

  .tl-event.finished {
    .tl-date {
      color: #555;
    }
    .tl-dot, .tl-line {
      background-color: #555;
    }
    @include media-query($on-mobile) {
      background-color: #333;
      .tl-title h3 {
      }
    }
  }
}
