/**
 * Past editions
 */

.post {
  h1 {
    @include relative-font-size(2.3);
  }

  .winners {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

    .winner-list {
      max-width: 100%;
      padding: 20px 40px;
      margin: 10px;
      border-radius: 10px;
      background-color: #222222;
      flex: 1 0 auto;

      @include media-query($on-mobile) {
        padding: 20px;
      }

      .placement {
        @include relative-font-size(1.1);
        padding: 2px 0;
        &:nth-child(2) {
          font-weight: bold,
        }

        span {
          @include relative-font-size(0.8);
          padding-left: 2px;
          font-weight: normal,
        }
      }

      .award {
        margin-bottom: 8px;
        .award-name {
          color: $theme-yellow;
          font-weight: 800;
          padding-bottom: 3px;
          word-wrap: break-word;
          white-space: normal;
        }
        .award-recipient-list {
            word-wrap: break-word;
            white-space: normal;
            list-style-type: "🏅";
            .award-recipient {
              padding-left: 8px;
              word-wrap: break-word;
            }
        }
      }
    }
  }


  .participants {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

    .participant-list {
      padding: 20px 60px 20px 40px;
      margin: 10px;
      background-color: #222222;
      border-radius: 10px;
      flex: 1 0 auto;

      @include media-query($on-mobile) {
        padding: 20px;
      }

      ul {
        list-style-type: none;
        margin-inline-start: 0;

        li {
          margin: 1px 0;
        }
      }
    }
  }

  .image-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    .image {
      flex: 1 1;
      min-width: 150px;
      max-width: 250px;
      margin: 5px;
    }

    img {
      width: 100%;

      &:hover
      {
        opacity: 0.3;
      }
    }
  }

  .credits {
    margin: 20px 0;

    span {
      font-style: italic;
    }


    @include relative-font-size(0.8);
  }

  .organizer-list {
    display: flex;
    flex-wrap: wrap;
    .organizer-item {
      min-width: 250px;
      flex: 1 1;

      background-color: #222222;
      border-radius: 5px;
      margin: 10px;
      padding: 10px 20px 15px 20px;

      .o-name {
        font-weight: 500;
      }

      .o-affiliation {
        color: #ccc;
        font-style: italic;
        font-size: 14px;
        overflow-wrap: anywhere;
      }

      .o-role-list {
        margin-top: 8px;
        display: flex;
        flex-wrap: wrap;

        .o-role {
          margin-right: 7px;
          font-size: 12px;
          font-weight: 500;
          color: $theme-yellow;
          background-color: $theme-color;
          padding: 1px 7px;
          border-radius: 3px;

          &:last-of-type {
            margin-right: 0;
          }
        }
      }
    }
  }
}
