---
layout: default
---

<div class="home">

  <!-- {{ 'now' | date: '%Y-%m-%d %H:%M:%S' }} -->

  <div class="main-logo">
    <img id="logo" class="logo" src="{{ "assets/logos/nki-logo.svg" | relative_url }}" />
  </div>

  {% if site.data.status.qualifiers.active %}
  <div class="hero">
    <h1 class="title">Forkeppnin er hafin</h1>
    <div class="content">
      Taktu þátt á <a href="https://{{ site.data.status.qualifiers.domain }}">{{ site.data.status.qualifiers.domain }}</a>
    </div>
  </div>
  {% endif %}

  {% if site.data.status.nationals.active %}
  <div class="hero">
    <h1 class="title">Landskeppnin er á næsta leyti</h1>
    <div class="content">
      Fylgstu með á <a href="https://{{ site.data.status.nationals.domain }}">{{ site.data.status.nationals.domain }}</a>
    </div>
  </div>
  {% endif %}

  {{ content }}

  <h1>
    Framkvæmd keppninnar
  </h1>
  <div class="timeline">
    {%- for event in page.timeline -%}
    <div class="tl-event" data-start="{{ event.start }}" data-end="{{ event.end }}">
      <div class="tl-date">
        {% assign start_month = event.start | date: "%m" | minus: "1" %}
        <span>{{ event.start | date: "%e." }} {{ site.data.months.is[start_month] }}</span>
        {% if event.start != event.end %}
        -
        {% assign end_month = event.end | date: "%m" | minus: "1" %}
        <span>{{ event.end | date: "%e." }} {{ site.data.months.is[end_month] }}</span>
        {% endif %}
      </div>
      <div class="tl-line"><div class="tl-dot"></div></div>
      <div class="tl-title"><h3>{{ event.name }}</h3></div>
      <div class="tl-line"></div>
      <div class="tl-content">
        {{ event.description | markdownify }}
      </div>
    </div>
    {%- endfor -%}
  </div>

  <script>
    let now = new Date().setHours(0,0,0,0);
    document.querySelectorAll(".tl-event").forEach(event => {
      let start = Date.parse(event.dataset.start);
      let end = Date.parse(event.dataset.end);

      let cls = '';
      if (start <= now && now <= end) {
        cls = 'ongoing';
      } else if (now > end) {
        cls = 'finished';
      }
      if (cls) {
        event.classList.add(cls);
      }
    })
  </script>

</div>
